.mei-flex{
	display: flex;
}
.mei-flex-center{
	align-items: center;
	justify-content: center;
}
.mei-flex--column{
	flex-direction: column;
}
.mei-flex-1{
	flex:1
}
.mei-col-12 {
	width: 100%;
}

.mei-col-11 {
	width: 91.66666667%;
}

.mei-col-10 {
	width: 83.33333333%;
}

.mei-col-9 {
	width: 75%;
}

.mei-col-8 {
	width: 66.66666667%;
}

.mei-col-7 {
	width: 58.33333333%;
}

.mei-col-6 {
	width: 50%;
}

.mei-col-5 {
	width: 41.66666667%;
}

.mei-col-4 {
	width: 33.33333333%;
}

.mei-col-3 {
	width: 25%;
}

.mei-col-2 {
	width: 16.66666667%;
}

.mei-col-1 {
	width: 8.33333333%;
}